.main
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}   

.img-user
{
    width: 80%;
    /* height: 30%; */
}

.painel-usuario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 40vw;
    background-color: white;

    border-radius: 20px;
    box-shadow: 10px -10px 5px #00000056;
    overflow: hidden;
    word-wrap: break-word;
}

.btn-configurar-conta
{
    width: 80%;
    padding: 16px 16px;
    margin: 2px;
    margin-top: 2vw;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.painel-configurar-conta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 20%;
    min-height: 40vw;
    background-color: white;

    border-radius: 20px;
    box-shadow: 10px -10px 5px #00000056;
    overflow: hidden;
    word-wrap: break-word;
}

.painel-configurar-conta p
{
    margin-top: 1vw;
    font-size: 30px;
}

.painel-usuario-p
{
    font-style: italic;
    font-size: 30px;
}

.painel-cursos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 5vw;

    width: 60%;
    height: 40vw;
    background-color: white;

    border-radius: 20px;
    box-shadow: 10px -10px 5px #00000056;
}

.painel-cursos p
{
    font-weight: bolder;
}

.div-area-aluno
{
    margin-top: 5vw;
    width: 90%; 
    height: 10vw;
}

.div-area-professor
{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

    margin-top: 5vw;
    /* background-color: blue; */
    width: 90%; 
    height: 10vw;
}

.div-area-professor-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-editar-usuario
{
    width: 80%;
    padding: 16px 16px;
    margin: 2px;
    margin-top: 5vw;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-sair-da-conta
{
    width: 80%;
    padding: 16px 16px;
    margin: 2px;
    margin-top: 1vw;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-mensagens
{
    width: 50%;
    padding: 16px 16px;
    margin: 2px;
    /* margin-top: 10vw; */
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    margin-left: 1vw;
}

button:hover
{
    background: #02ff89b7;
}

.div-messages
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 5vw;
}

.img-messages
{
    width: 10%;
}

.textfield
{
    width: 100%;
    display: flex;
    flex-direction: column; /* When using flex-direction align-items and justify-content are inverted */
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; /* first value: y-axis / second: x-axis */
}

.textfield > input
{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #c7c7c7;
    color: black;
    font-size: 12pt;
    box-shadow: 10px 10px 15px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label
{
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
}

.textfield > input::placeholder
{
    color: rgb(107, 107, 107);
}

.painel-cursos-edicao
{
    margin-left: 3vw;
    margin-top: 3vw;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: start;
    /* background-color: black; */
}

.button-criar-funcao
{
    width: 80%;
    padding: 16px 16px;
    margin: 2px;
    margin-top: 1vw;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}