.main
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}   

.img-user
{
    width: 80%;
    /* height: 30%; */
}

.painel-usuario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 20%;
    height: 40vw;
    background-color: white;

    border-radius: 20px;
    box-shadow: 10px -10px 5px #00000056;
    overflow: hidden;
    word-wrap: break-word;
}

.painel-usuario-p
{
    font-style: italic;
    font-size: 30px;
}

.painel-cursos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 5vw;

    width: 60%;
    height: 40vw;
    background-color: white;

    border-radius: 20px;
    box-shadow: 10px -10px 5px #00000056;
}

.painel-cursos p
{
    font-weight: bolder;
}

.div-area-aluno
{
    margin-top: 5vw;
    width: 90%; 
    height: 10vw;
}

.div-area-professor
{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

    margin-top: 5vw;
    /* background-color: blue; */
    width: 90%; 
    height: 10vw;
}

.div-area-professor-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-editar-usuario
{
    width: 80%;
    padding: 16px 16px;
    margin: 2px;
    margin-top: 5vw;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-mensagens
{
    width: 50%;
    padding: 16px 16px;
    margin: 2px;
    /* margin-top: 10vw; */
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: small;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    margin-left: 1vw;
}

button:hover
{
    background: #02ff89b7;
}

.div-messages
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 5vw;
}

.img-messages
{
    width: 10%;
}