
<img src="logo2.png" alt="" width="80%" height="80%" style='margin-bottom: 1vw;'>

<h1>CADASTRO</h1>

<div class="card-login-base">
    <div class="textfield">
        <label for="user">Usuário</label>
        <input type="text" name="user" placeholder="Usuário">
    </div>
    
    <div class="textfield">
        <label for="password">Senha</label>
        <input type="password" name="password" placeholder="Senha">
    </div>
    
    <div class="textfield">
        <label for="password">Repita sua senha</label>
        <input type="password" name="password" placeholder="Repita a senha">
    </div>

</div>

<!-- Cadastro parte 2 -->





<button class="btn-continuar">Continuar</button>
<button class="btn-voltar" (click)="onVoltarButtonClick()">Voltar</button>

<!-- <p style="color: #f0ffffde; margin-top: 1vw;">Ainda não tem uma conta?</p> --> 
<!-- <button (click)="onCadastrarButtonClick()" class="btn-cadastrar">Cadastrar</button>  -->