<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="css/style.css"> -->

        <title>Login</title>
    
    </head>
    
    <body>
        
        <!-- HEADER -->
        

        <!-- MAIN DIV -->
        <div class="main-login">
            <div class="left-login">
                <!-- <h1>Infinity Learn<br>teste teste teste teste teste</h1> -->
                <img src="cross-platform-software-animate.svg" alt="" class="left-login-image"> 
            </div>

            <div class="right-login">
                
                <div class="card-login">
                    
                    <img src="logo2.png" alt="" width="80%" height="80%" style='margin-bottom: 1vw;'>
                    <h1>LOGIN</h1>

                    <div class="textfield">
                        <label for="user">User</label>
                        <input type="text" name="user" placeholder="User">
                    </div>
                    
                    <div class="textfield">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <button class="btn-login">Login</button>

                    <p style="color: #f0ffffde; margin-top: 1vw;">Ainda não tem uma conta?</p>

                    <button class="btn-cadastrar">Cadastrar</button>
                </div>
            </div>
        </div>

        <!-- FOOTER -->

    </body>

</html>

