
        <div class="logo-div">
            <img src="logo_background.png" alt="" class="logo-img">
            <button class="btn-sobrenos">Sobre Nós</button>
            <button class="btn-sobrenos">Planos de Estudo</button>
            <button class="btn-sobrenos">Contato</button>
        </div>  

        <div class="div-bandeirolas">
            <img src="bandeirola.svg" alt="" class="left-baloon">
            <img src="bandeirola.svg" alt="" class="right-baloon">
            <img src="bandeirola.svg" alt="" class="center-baloon">
        </div>

        <div class="div-marketing">


            <div class="div-draws">
                <img src="mobile-user-animate.svg" class="img-anywhere">
                <p>Suas aulas onde você estiver</p>
            </div>

            <div class="div-draws">
                <img src="connected-world-animate.svg" class="img-anywhere">
                <p>Conecte-se com estudantes e <br> professores do mundo todo</p>
            </div>

            <div class="div-draws">
                <img src="boy-on-graduation-animate.svg" class="img-anywhere">
                <p>Faça seu futuro!</p>
            </div>

        </div>

        <div class="interest-div-text">
            <p>Tem interesse em participar da nossa comunidade? <a href="www.google.com.br">Saiba mais!</a></p>

        </div>
    

        

        <div class="end-div">

        </div>